<div class="container center">
    <div>
        <input *ngIf="this.selectedTags.length<5" [(ngModel)]="inputTag" (keyup.enter)="addTag()" type="text" class="form-control">
        <div class="form-text">Zadejte tag.</div>
        <div *ngIf="inValidTag" class="form-text">Nejedná se o existující Tag.Přehled tagů najdete v sekci <a>tagy</a>
        </div>
        <div class="gp10">
            <button (click)="removeTag(t)" *ngFor="let t of selectedTags" class="btn btn-secondary">{{t}}<i
                    class="bi bi-x"></i></button>
        </div>
       
    </div>
    <div *ngFor="let a of articles" class="article">
        <div class="description">
            <h5><a [routerLink]="['/article/',a.id]">{{a.topic}}</a></h5>
            <p>{{a.summary}}</p>
        </div>
        <div class="tags">
            <h4><i class="bi" [class.bi-unlock]="a.public" [class.bi-lock]="!a.public"></i></h4>
            <button class="btn btn-secondary" *ngFor="let t of a.tags">{{t.name}}</button>
        </div>
    </div>
</div>