.tags{
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 5px;

}
.click{
    cursor: pointer;
}
.miss{
    border-color: red;
}
.add{
    height: 200;
    width: 200;
    background-color: grey;
}