{{article|json}}
<form>
    <div class="mb-3">
        <label for="topic" class="form-label">Nadpis</label>
        <input [(ngModel)]="article.topic" name="topic" type="text" class="form-control">
        <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <h3><i class="bi click" [class.bi-unlock]="article.public" [class.bi-lock]="!article.public" (click)="switchPublic()"></i></h3>
    <div class="form-text">Vyber zda tvůj článek bude privátní nebo otevřen všem.</div>
    <div class="mb-3">
        <label for="summary" class="form-label">Souhrn</label>
        <input  [(ngModel)]="article.summary" name="summary" type="text" class="form-control">

    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <textarea [(ngModel)]="article.text" name="text" type="text" class="form-control"></textarea>
    </div>
</form>
<div class="tags">
    <div class="mb-3 ">
        <label for="text" class="form-label">Témata</label>
        <input *ngIf="this.article.tags.length <= 4" [(ngModel)]="inputTag" (keyup.enter)="addTag()" type="text" class="form-control">
        <div class="tags">
            <button (click)="removeTag(t)" class="btn btn-danger" *ngFor="let t of article.tags">{{t.name}} <i class="bi bi-x"></i></button>
        </div>        
        <div class="form-text">Zvol max. 5 témat</div>
    </div>
</div>

<button class="btn btn-primary" (click)="submit()">test</button>